@import "./base.css";

body {
  width: 100% !important;
  background-color: rgb(var(--arcoblue-1));
}
body[arco-theme="dark"] {
  background-color: var(--color-bg-1);
}

.words-container {
  box-sizing: border-box;
  background-color: var(--color-bg-4);
  min-height: 420px;
  padding: 24px;
}

.words-container,
.words-container-skeleton {
  margin: var(--boundary) 0;
  width: var(--words-container-width);
  left: var(--words-container-left);
  margin-left: calc(0px - var(--words-container-width) / 2);
  position: relative;
}

.operations,
.operations-container-skeleton {
  top: var(--boundary);
  left: calc(
    var(--words-container-left) + var(--words-container-width) / 2 + 36px
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
}

.operations > *,
.operations-container-skeleton > * {
  margin-top: 12px;
}

.operations .arco-btn,
.word-item .arco-input-append .arco-btn {
  font-size: 16px !important;
}

.operations-container-skeleton .translater-skeleton {
  width: 70px;
}
.operations-container-skeleton .translater-skeleton .arco-skeleton-line-row {
  border-radius: 12px;
}
